<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>categories</key>
    <dict>
	<key>applications</key>
	<dict>
	    <key>active</key>
	    <integer>1</integer>
	    <key>category_name</key>
	    <string>applications</string>
	    <key>icon</key>
	    <string>applications</string>
	    <key>index</key>
	    <integer>1</integer>
	    <key>menu_name</key>
	    <string>Applications</string>
	</dict>
	<key>documents</key>
	<dict>
	    <key>active</key>
	    <integer>1</integer>
	    <key>category_name</key>
	    <string>documents</string>
	    <key>icon</key>
	    <string>documents</string>
	    <key>index</key>
	    <integer>2</integer>
	    <key>menu_name</key>
	    <string>Documents</string>
	</dict>
	<key>folders</key>
	<dict>
	    <key>active</key>
	    <integer>1</integer>
	    <key>category_name</key>
	    <string>folders</string>
	    <key>icon</key>
	    <string>folders</string>
	    <key>index</key>
	    <integer>3</integer>
	    <key>menu_name</key>
	    <string>Folders</string>
	</dict>
	<key>images</key>
	<dict>
	    <key>active</key>
	    <integer>1</integer>
	    <key>category_name</key>
	    <string>images</string>
	    <key>icon</key>
	    <string>images</string>
	    <key>index</key>
	    <integer>4</integer>
	    <key>menu_name</key>
	    <string>Images</string>
	</dict>
	<key>movies</key>
	<dict>
	    <key>active</key>
	    <integer>1</integer>
	    <key>category_name</key>
	    <string>movies</string>
	    <key>icon</key>
	    <string>movies</string>
	    <key>index</key>
	    <integer>6</integer>
	    <key>menu_name</key>
	    <string>Movies</string>
	</dict>
	<key>music</key>
	<dict>
	    <key>active</key>
	    <integer>1</integer>
	    <key>category_name</key>
	    <string>music</string>
	    <key>icon</key>
	    <string>music</string>
	    <key>index</key>
	    <integer>7</integer>
	    <key>menu_name</key>
	    <string>Music</string>
	</dict>
	<key>pdfdocs</key>
	<dict>
	    <key>active</key>
	    <integer>1</integer>
	    <key>category_name</key>
	    <string>pdfdocs</string>
	    <key>icon</key>
	    <string>pdfdocs</string>
	    <key>index</key>
	    <integer>5</integer>
	    <key>menu_name</key>
	    <string>PDF Documents</string>
	</dict>
	<key>plainfiles</key>
	<dict>
	    <key>active</key>
	    <integer>1</integer>
	    <key>category_name</key>
	    <string>plainfiles</string>
	    <key>icon</key>
	    <string>plainfiles</string>
	    <key>index</key>
	    <integer>8</integer>
	    <key>menu_name</key>
	    <string>Plain Files</string>
	</dict>
	<key>sources</key>
	<dict>
	    <key>active</key>
	    <integer>1</integer>
	    <key>category_name</key>
	    <string>sources</string>
	    <key>icon</key>
	    <string>sources</string>
	    <key>index</key>
	    <integer>0</integer>
	    <key>menu_name</key>
	    <string>Source code</string>
	</dict>
    </dict>
</dict>
</plist>