<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>GSBackHandlesWindowDecorations</key>
    <string>0</string>
    <key>GSBackUsesNativeTaskbar</key>
    <string>0</string>
    <key>GSHandlesWindowDecorations</key>
    <string>1</string>
    <key>GSSuppressAppIcon</key>
    <integer>1</integer>
    <key>GSTheme</key>
    <string>Dubstep</string>
    <key>NSBackUsesNativeTaskbar</key>
    <string>1</string>
    <key>NSBoldFont</key>
    <string>SFProDisplay-Bold</string>
    <key>NSBoldFontSize</key>
    <string>12.0</string>
    <key>NSControlContentFont</key>
    <string>SFProDisplay-Regular</string>
    <key>NSControlContentFontSize</key>
    <string>12.0</string>
    <key>NSFont</key>
    <string>SFPro_510wght</string>
    <key>NSFontSize</key>
    <string>12.0</string>
    <key>NSInterfaceStyleDefault</key>
    <string>NSMacintoshInterfaceStyle</string>
    <key>NSLabelFont</key>
    <string>SFPro_590wght</string>
    <key>NSLabelFontSize</key>
    <string>12.0</string>
    <key>NSMenuFont</key>
    <string>SFPro_590wght</string>
    <key>NSMenuFontSize</key>
    <string>14.0</string>
    <key>NSMenuInterfaceStyle</key>
    <string>NSMacintoshInterfaceStyle</string>
    <key>NSMessageFont</key>
    <string>SFProDisplay-Regular</string>
    <key>NSMessageFontSize</key>
    <string>12.0</string>
    <key>NSPaletteFont</key>
    <string>SFProDisplay-Regular</string>
    <key>NSPaletteFontSize</key>
    <string>12.0</string>
    <key>NSTitleBarFont</key>
    <string>SFProDisplay-Bold</string>
    <key>NSTitleBarFontSize</key>
    <string>12.0</string>
    <key>NSToolTipsFont</key>
    <string>SFProDisplay-Regular</string>
    <key>NSToolTipsFontSize</key>
    <string>12.0</string>
    <key>NSUserFixedPitchFont</key>
    <string>JetBrainsMono-Regular</string>
    <key>NSUserFixedPitchFontSize</key>
    <string>12.0</string>
    <key>NSUserFont</key>
    <string>SFProDisplay-Regular</string>
    <key>NSUserFontSize</key>
    <string>12.0</string>
    <key>UseWindowMakerIcons</key>
    <integer>0</integer>
</dict>
</plist>