<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSWindow Frame mdindexing_error_win</key>
    <string>348 210 447 575 0 0  1920 1058 </string>
    <key>NSWindow Frame mdindexing_status_win</key>
    <string>206 302 391 481 0 0  1920 1058 </string>
    <key>NSWindow Frame systemprefs</key>
    <string>122 346 594 384 0 0  1920 1054 </string>
</dict>
</plist>