<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>AddYBorders</key>
    <false/>
    <key>AltIsNotMeta</key>
    <false/>
    <key>BACKGROUND_COLOR</key>
    <string>#333333</string>
    <key>BoldTerminalFont</key>
    <string>JetBrainsMono-Regular</string>
    <key>BoldTerminalFontSize</key>
    <real>16</real>
    <key>CommandAsMeta</key>
    <false/>
    <key>CursorColorA</key>
    <real>1</real>
    <key>CursorColorB</key>
    <real>1</real>
    <key>CursorColorG</key>
    <real>1</real>
    <key>CursorColorR</key>
    <real>1</real>
    <key>CursorStyle</key>
    <integer>0</integer>
    <key>DoubleEscape</key>
    <false/>
    <key>LoginShell</key>
    <false/>
    <key>NSWindow Frame Preferences</key>
    <string>802 99 784 796 0 0  1920 1054 </string>
    <key>ScrollBackLines</key>
    <integer>256</integer>
    <key>Shell</key>
    <string>/usr/local/bin/zsh</string>
    <key>TerminalFont</key>
    <string>JetBrainsMono-Regular</string>
    <key>TerminalFontSize</key>
    <real>16</real>
    <key>UseMultiCellGlyphs</key>
    <false/>
    <key>WindowCloseBehavior</key>
    <integer>0</integer>
    <key>WindowHeight</key>
    <integer>25</integer>
    <key>WindowWidth</key>
    <integer>80</integer>
</dict>
</plist>